<div class="container">
    <section>
        <div class="example-button-row">
          <button mat-flat-button *ngIf="show" (click)="returnFolder()"> 
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
      </section>
    <div class="table-responsive">
       
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
            
           
            <ng-container matColumnDef="FileName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <ng-container matColumnDef="Size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
                <td mat-cell *matCellDef="let element"> {{helper.formatBytes(element.Size)  }}</td>
            </ng-container>

            <ng-container matColumnDef="LastModification">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modification </th>
                <td mat-cell *matCellDef="let element"> {{element.ModTime}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="list-group" style="width: 100%;">
                            <a href="#" class="list-group-item list-group-item-action active"
                                style="background-color: black; border-color: black;">
                                Actions
                            </a>
                            <a href="#" (click)="deleteUser(element)"class="list-group-item list-group-item-action danger">{{element.IsDirectory ? "Delete Folder" : "Delete FileName"}}</a>
                            <a *ngIf="element.IsDirectory" (click)="getNotification(element.Name)" class="list-group-item list-group-item-action">Open directory</a>
                            <br>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    </div>
</div>
