<mat-accordion>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false; cleanForm()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create User
      </mat-panel-title>
      <mat-panel-description>
        Click to open painel creation users
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-add">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Username</mat-label>
              <input required matInput placeholder="Username" formControlName="email">
            </mat-form-field>
          </div>
          <div class="form-group">
            <div class="form-group" style="text-align: start;">
              <mat-form-field appearance="outline">
                <mat-label>Expiration in days</mat-label>
                <select required matNativeControl [disabled]="false" formControlName="expiration" (change)="doSomething()">
                  <option value="{{i == 0 ? -1 : i + 1}}" *ngFor='let in of counter(101) ;let i = index'>
                    {{i == 0 ? 'Never' : i}}</option>
                </select>
              </mat-form-field>
            </div>
            <p *ngIf="showP">{{expirationDate }}</p>
          </div>

          <div class="form-group">
            <div class="form-group" style="width: 100%;">
              <mat-form-field appearance="outline">
                <mat-label>Create user with key</mat-label>
                <select matNativeControl required [disabled]="false" (change)="enablePass()" formControlName="key">
                  <option value="" selected></option>
                  <option value=true>Yes</option>
                  <option value=false>No</option>
                </select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Password</mat-label>
              <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
              <input matInput #password [type]="toggle.type" [attr.disabled]="true" required placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
              [password]="password.value">
            </mat-password-strength>
            <mat-password-strength-info *ngIf="strength != 100" [passwordComponent]="passwordComponent">
            </mat-password-strength-info>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <div class="example-button-row">
              <button mat-raised-button 
                      matTooltip="Click and random password is copied to your clipboard"
                      [matTooltipShowDelay]="100"
                      [matTooltipHideDelay]="500"
                      style="width: 100%;" 
                      (click)="randomPassword()"
                      type="button"
                      color="primary"
                      aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
                Random Password
              </button>
            </div>
          </div>
          <div class="form-group col-md-6">
            <section>
              <div class="example-button-row">
                <button mat-raised-button color="primary" style="width: 100%;" type="submit" >Create User</button>
              </div>
            </section>
          </div>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>